{% extends "debian-base.html" %}

{% block title %}Debian Single Signon{% endblock %}

{% block head_meta %}
<link rev="made" href="mailto:debian-admin@lists.debian.org">
<meta name="Language" content="English">
<meta name="Author"   content="Enrico Zini, enrico@debian.org">
{% endblock %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/debsso.css">
{% endblock %}

{% block section %}<a href="{% url 'home' %}">SSO</a>{% endblock %}

{% block searchbox %}
{% comment %}No search feature in NM site yet{% endcomment %}
{% endblock %}

{% block navbar %}
{% comment %}
  <li><a href="{% url 'sources_list' %}">Data sources</a></li>
  <li><a href="{% url 'site_status' %}">Site status</a></li>
{% endcomment %}
{% endblock %}

{% block relatedpages %}
<a href="{% url 'ca_test_env' %}">test certificates</a>
{% if user.is_anonymous %}
{% else %}
<a href="{% url 'home' %}">{{user}}</a>
{% endif %}
{% endblock %}

{% block content %}
<h1>Debian Single Signon Website Template</h1>
{% endblock %}

{% block footer %}
<h3>What is this?</h3>
<p>This is Debian's web signon service. You can find some documentation on <a href="http://wiki.debian.org/DebianSingleSignOn">this wiki page</a>.</p>
<p>If you are Debian Developer you can set your SSO password on <a href="https://db.debian.org/">https://db.debian.org/</a>. Note that it is <em>different</em> from your db.debian.org password.</p>
<p>Copyright © 2014 Enrico Zini &lt;enrico@debian.org&gt;. See <a href="{% url 'root_license' %}">license terms</a>.
Source code is <a href="https://anonscm.debian.org/cgit/debian-sso/debian-sso.git/">here</a>.
{% comment %}
Please report bugs against the <a href="http://bugs.debian.org/nm.debian.org">nm.debian.org</a> pseudo-package.
{% endcomment %}
</p>
{% endblock %}
